<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="longTimeoutBindingTcp" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="longTimeoutBindingHttp" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="longTimeoutBindingWeb" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
      <mexHttpBinding>
        <binding name="longTimeoutBindingMex" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
      </mexHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="Asset.AssetService">
        <endpoint address="AssetService" binding="basicHttpBinding" bindingConfiguration="longTimeoutBindingHttp" name="BasicHttpEndPoint" contract="Asset.IAssetService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="longTimeoutBindingMex" name="MexHttpEndPoint" contract="IMetadataExchange"/>
        <endpoint behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="longTimeoutBindingWeb" name="WebBinding" contract="Asset.IAssetService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Asset/AssetService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>